<h3 class="subpar-header">moog subPar</h3>
<link href='https://fonts.googleapis.com/css?family=VT323' rel='stylesheet' type='text/css'>
<div id="content"></div>

<script type="text/javascript">

  window.subPar = window.subPar || {};

  window.subPar.images = {
    moog: "<%= image_path('moogsmall.png') %>",
    ipod: "<%= image_path('ipod.png') %>",
    recorder: "<%= image_path('recorder.png') %>"
  };

  React.render(React.createElement(Organ), document.getElementById("content"));
</script>
