html, body, div, h1, h3, li, ul, section, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;

  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
  height: 250px;
  width: 600px;
  position: relative;
  margin: auto;
}

.moog {
  background-repeat: no-repeat;
  width: 822px;
  height: 573px;
  background-position: center center;
  position: relative;
  margin: 0;
}

.allkeys {
  position: absolute;
  left: 79px;
  top: 25px;

}

body {
  font-family: futura;
  text-align: center;
  color: black;
}

h1 {
  font-size: 72px;
  padding: 30px;
}

h3 {
  font-size: 24px;
  line-height: -5px;
}

#content {
  width: 100%;
  background: white;
}

button {
  width: 50px;
  height: 30px;
  margin: 5px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 50px;
  transition: opacity 300ms;
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  background: white;
  opacity: 0;
}

.record {
  position: absolute;
  right: 27px;
  top: 15px;
}

.stop {
  position: absolute;
  right: 164px;
  top: 15px;
}

.play {
  position: absolute;
  right: 95px;
  top: 15px;
}

button:hover {
  cursor: pointer;
  opacity: .1;
}

.keys {
  margin: auto;
  position: absolute;
  bottom: 87px;
  left: 211px;
}

.key {
  opacity: 1;
  float: left;
  height: 260px;
  width: 45px;
  border: 1px solid black;
  background: white;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: inset 0px 10px 5px #2a2a2a;
  -webkit-box-shadow: inset 0px 10px 5px #2a2a2a;
  box-shadow: inset 0px 10px 5px #2a2a2a;
}

.sharp {
  background: black;
  width: 25px;
  height: 170px;
  -moz-box-shadow: -7px -7px 5px #2a2a2a;
  -webkit-box-shadow: -7px -7px 5px #2a2a2a;
  box-shadow: inset -7px -7px 5px #2a2a2a;
}

html {
  height: 100%;
  background: white;
}

.true {
  background: linear-gradient(lightblue, white);
  -moz-box-shadow: inset 0px 10px 5px #2a2a2a;
  -webkit-box-shadow: inset 0px 10px 5px #2a2a2a;
  box-shadow: inset 0px 10px 30px #2a2a2a;
}

.true.sharp {
  -moz-box-shadow: inset 0px 10px 5px #2a2a2a;
  -webkit-box-shadow: inset 0px 10px 5px #2a2a2a;
  box-shadow: inset 0px 10px 30px #2a2a2a;
  background: linear-gradient(lightblue, black);
}

#Csharp {
  position: absolute;
  bottom: 90px;
  left: 34px;
}

#Dsharp {
  position: absolute;
  bottom: 90px;
  left: 81px;
}

#Fsharp {
  position: absolute;
  bottom: 90px;
  left: 175px;
}

#Gsharp {
  position: absolute;
  bottom: 90px;
  left: 222px;
}

#Asharp {
  position: absolute;
  bottom: 90px;
  left: 269px;
}

#C2sharp {
  position: absolute;
  bottom: 90px;
  left: 363px;
}

#D2sharp {
  position: absolute;
  bottom: 90px;
  left: 410px;
}

.organ {
  width: 1110px;
  margin: auto;
  /*margin-top: 30px;*/
}

.recording-stuff {
  position: absolute;
  left: 850px;
  top: 30px;
}

.recorder-ul {
  background-position: center;
  background-size: 250px;
  background-repeat: no-repeat;
  width: 250px;
  height: 70px;
}

.recorder-ul li {
  float: left;
  margin-top: 10px;
}

.recorder-ul li:first-child {
  margin-left: 35px;
}

.jukebox {
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  width: 224px;
  height: 370px;
  font-family: 'VT323';
  margin-top: 20px;
}

.jukebox-tracks {
  position: absolute;
  left: 60px;
  top: 160px;
  height: 120px;
  width: 144px;
  overflow: scroll;
  background: linear-gradient(to right, #96afc6, #bccce4);
  border-radius: 5px;
  box-shadow: inset 0px 0px 6px black;
}

.subpar-header {
  font-size: 32px;
  margin: 10px;
}

.track-name {
  float: left;
  width: 100px;
  text-align: left;
  height: 100%;
}

.play-track-button {
  float: right;
  cursor: pointer;
}

.track {
  padding: 3px 6px;
  width: 132px;
  margin: auto;
}

.track:hover {
  background: #000;
}

.track:hover > div {
  color: #96afc6;
}

.play-track-button:hover {
  color: #ccc !important;
}

.save-track {
  position: absolute;
  top: 80px;
  left: 85px;
  cursor: pointer;
  transition: color 300ms;
  font-weight: 900;
}

.save-track:hover {
  color: green;
}

.cord {
  position: absolute;
  width: 100px;

  top: 43px;
  right: 209px;
}

.cordvert {
  position: absolute;
  top: 47px;
  right: 190px;
}

.waveforms {
  width: 259px;
  height: 30px;
}

.waveforms > li {
  float: left;
  padding: 5px;
  cursor: pointer;
  background: #eda22d;
  margin: 4px;
  border-radius: 5px;
  transition: color 200ms;
}

.waveforms > li:not(.active):hover {
  color: #fff;
}

.active {
  color: #fff;
}

.tools {
  position: absolute;
  right: 0px;
  top: -80px;
  font-size: 14px;
}

.Recording {
  color: red;
}

.NotRecording {
  color: transparent;
}
