html, body, div, h1, h3, li, ul, section, button {
  margin: 0;
  border: 0;
  padding: 0;

  font: inherit;
  text-decoration: inherit;
  text-align: inherit;

  color: inherit;
  background: transparent;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

ul {
  list-style: none;
  height: 250px;
  width: 800px;
  position: relative;
  margin: auto;
}

.moog {
  background-repeat: no-repeat;
  width: 1096px;
  height: 920px;
  background-position: center center;
  position: relative;
  margin: auto;
}

.allkeys {
  position: absolute;
  left: 79px;
  top: 25px;

}

body {
  font-family: futura;
  text-align: center;
  color: black;
}

h1 {
  font-size: 72px;
  padding: 30px;
}

h3 {
  font-size: 24px;
  line-height: -5px;
}

#content {
  width: 100%;
  margin: auto;
  background: white;
}

button {
  width: 100px;
  height: 100px;
  margin: 5px;
  margin-bottom: 40px;
  font-size: 48px;
  line-height: 50px;
  transition: background 500ms, color 500ms;
}

.record {
  background: red;
}

.stop {
  background: #878787;
}

.play {
  background: green;
}

.record:hover {
  background: darkred;
}

.stop:hover {
  background: #4e4e4e;
}

.play:hover {
  background: darkgreen;
}

.keys {
  margin: auto;
  position: absolute;
  bottom: 271px;
  left: 311px;
}

.key {
  opacity: 1;
  float: left;
  height: 350px;
  width: 60px;
  border: 1px solid black;
  background: white;
  color: black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -moz-box-shadow: inset 0px 10px 5px #2a2a2a;
  -webkit-box-shadow: inset 0px 10px 5px #2a2a2a;
  box-shadow: inset 0px 10px 5px #2a2a2a;
}

.allkeys .key:first-child {

}

.sharp {
  background: black;
  width: 34px;
  height: 186px;
  -moz-box-shadow: -10px -10px 5px #2a2a2a;
  -webkit-box-shadow: -10px -10px 5px #2a2a2a;
  box-shadow: inset -10px -10px 5px #2a2a2a;
}

html {
  height: 100%;
  background: white;
}

.true {
  opacity: 1;
  background: linear-gradient(lightblue, white);
}

.true.sharp {
  opacity: 1;
  background: linear-gradient(lightblue, black);
}

#Csharp {
  position: absolute;
  bottom: 160px;
  left: 43px;
}

#Dsharp {
  position: absolute;
  bottom: 160px;
  left: 107px;
}

#Fsharp {
  position: absolute;
  bottom: 160px;
  left: 230px;
}

#Gsharp {
  position: absolute;
  bottom: 160px;
  left: 293px;
}

#Asharp {
  position: absolute;
  bottom: 160px;
  left: 355px;
}

#C2sharp {
  position: absolute;
  bottom: 160px;
  left: 479px;
}

#D2sharp {
  position: absolute;
  bottom: 160px;
  left: 541px;
}
